{% extends 'base.html' %}
{% block container %}

<main id="createPage">

    <h1>Create Book</h1>

    <form id="createForm" method="POST" action="{{ url_for('create_post') }}">
        <label>Title:</label>
        <input type="text" name="title" required>

        <label>Author:</label>
        <input type="text" name="author" required>

        <label>ISBN:</label>
        <input type="text" name="isbn" required>

        <label>Price:</label>
        <input type="number" step="0.01" name="price" required>

        <label> Category:</label>
        <select name="categoryId" required>
            <option value="" selected disabled>Select a category</option>
            {% for category in categories %}
                <option value="{{ category.categoryId }}">
                    {{ category.categoryName }}
                </option>
            {% endfor %}
        </select>

        <label>Image filename:</label>
        <input type="text" name="image" placeholder="bookname.jpg" required>

        <label>Read Now:</label>
        <select name="readNow" required>
            <option value="" selected disabled>Select an option</option>
            <option value="0">0(No)</option>
            <option value="1">1(Yes)</option>
        </select>

        <div id="createActions">
            <button type="submit">Submit</button>

            <a class="cancelButton" href="{{ url_for('read') }}">Cancel</a>
        </div>
    </form>
</main>

{% endblock %}




