{% extends 'base.html' %}
{% block container %}
<div id="homePage">
    
    <section id="welcomeText">
        <h1>What do you want to explore?</h1>
        <p>Browse books by category.</p>
    </section>
    
    <div id="shelfspace">
        {% for category in categories %}
        <div class="bookshelfoption">
            <a href="{{ url_for('category', categoryId=category.categoryId) }}">
                <h2>{{ category.categoryName }}</h2>
              
                <p class="categoryDescription">
                  {% if category.categoryName == 'Fiction' %}
                    Explore imaginary worlds
                  {% elif category.categoryName == 'Science' %}
                    Discover science and innovation
                  {% elif category.categoryName == 'Philosophy' %}
                    Challenge your mind with timeless ideas
                  {% elif category.categoryName == 'Romantic' %}
                    Step into true love moments
                  {% endif %}
                </p>

                <img
                  src="{{ url_for('static', filename='images/categories/' + category.categoryName|lower|replace(' ', '-') + '.jpg') }}"
                  alt="{{ category.categoryName }}"
                >
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
